.testimonial-slider{
     padding-top: 30px; 
     margin-bottom: 30px;   
    position: 8rem 0;
    background-color: var(--bg-light);
}

.testimonial-slider h2{
    font-size: 24px;
    color: var(--danger-color);
}